body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block {
  height: 100px;
  text-align: center;
  width: 1000px;
  font-family: 'Parisienne', cursive;
  color: white; 
  font-size: 4rem;
  position: absolute;
  padding-right: 200px;
  top: 30%;
  z-index: 2;
}

.block p {padding-bottom: 0;
          padding-top: 0;
          margin: 0;}

.leftb {
   /*background: red; */
  vertical-align: middle;
  padding-right: 130px;
  top: 50%;
}
.midb {
   /*background: green; */
}
.rightb {
  /* background: blue; */
  padding-left: 130px;
}
#first {
  height: 100vh;
  background-image: linear-gradient(0deg,rgba(255,0,150,0.3),rgba(255,0,150,0.3)),url("hands.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#timer {
  background: #d3ff21;
  height: 40vh;
  text-align: center;
  padding-top: 70px;
  color: black;
}
#footer {
  background: linear-gradient(0deg,rgba(255,0,150,0.4),rgba(242,38,19,0.3)),url(file.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Parisienne', cursive;
  font-size: 3rem;
}

#footext{
  padding-top: 40vh;
  padding-left: 72vw;
  z-index: 2;
}

.in{
  padding-right: 150px;
  font-size: 2.5rem;
}

#demo {
  font-size: 4rem;
}
.f1{padding-left: 20px;}
.f3{text-align: right; 
    padding-right: 60px;}